body{
    background-color: darkslategrey;
    
}



.guess-wrapper{
    border-radius: 4px;
    margin:auto auto;
    width:15rem;
    padding:1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;

}
#title{
    text-align: center;
    color:darkgray;
    margin-bottom: 4rem;
}
.guess-wrapper > div {
    padding-bottom: 1rem;
    margin:auto auto;
    display: flex;
    flex-direction: row;
}

.guess-wrapper p {
    display :inline;
}

.hide-popup{
    display:none;
}
.popup-wrapper{
    width:15rem;
    background-color: white;
    border-radius: 0.5rem;
    padding:0.2rem;
    text-align: center;
    position:relative;
    top:-6rem;
    margin:auto auto;
}
    
.blur{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: darkslategrey;
    opacity: 0.5;
}

.guesses div{
    border:2px solid darkgray;
    padding:0.75rem;
    width:1rem;
    height:1rem;
    margin:auto auto;
}

#keyboard-wrapper{
    margin:auto auto;
    width:100%;
    position:fixed;
    bottom:2rem;
    border:1px solid black

}
.keyboard{
    text-align: center;
    margin:0.25rem;
}
.keyboard button {
    height:2.7rem;
    width:1.6rem;
    padding: 2px;
    border-radius: 2px;
    background-color: darkgrey;
    border:2px darkgray solid;
    font-weight: 700;
}

#backspace{
    width:1.8rem;
    text-align: center;
}
#enter {
    width:auto;
}
.shake{ 
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } /* https://www.w3schools.com/howto/howto_css_shake_image.asp*/

  /*Media queries*/

  /*above 320px, up to 375px*/
  @media (min-width:321px){
  .keyboard button {
    height:3rem;
    width:1.9rem;
    }
}

