body{
    background-color: darkslategrey;
}

.guess-wrapper{
    border-radius: 4px;
    margin:auto auto;
    width:15rem;
    padding:1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
}
#title{
    text-align: center;
    color:darkgray;
}
.guess-wrapper > div {
    padding-bottom: 1rem;
    margin:auto auto;
    display: flex;
    flex-direction: row;
}

.guess-wrapper p {
    display :inline;
}

.guesses div{
    border:2px solid darkgray;
    padding:0.75rem;
    margin-top: 4rem;
    width:1rem;
    height:1rem;
    margin:auto auto;
}

#keyboard-wrapper{
    margin:auto auto;
    align-items: center;
    padding-bottom:0.5rem;
}
.keyboard{
    text-align: center;
    margin:0.5rem;
}
.keyboard button {
    height:1.875rem;
    width:1.4rem;
    padding: 2px;
    border-radius: 2px;
    background-color: darkgray;
    border:2px darkgray solid;    
}

#backspace{
    width:1.8rem;
    text-align: center;
}
#enter {
    width:auto;
}